[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
statsmodels = "*"
joblib = "*"
numpy = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"

[demo]
streamlit = "*"

[notebook]
jupyterlab = "*"
